@import "tailwindcss";

:root {
    --background: #F3F3F3;
    --foreground: #282828;
    --accent: #FE257B;
}

.dark {
    --background: #282828;
    --foreground: #F3F3F3;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-primary: var(--accent-foreground);
    --color-light: #F3F3F3;
    --color-dark: #282828;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background: #282828;
      --foreground: #F3F3F3;
  }
}

@media (max-width: 1280px) {
    html {
        scrollbar-width: none;
        overflow-y: scroll;
    }

    html::-webkit-scrollbar {
        display: none;
    }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: inter, sans-serif;
}

@layer utilities {

}